# registry=https://registry.npmjs.org/
# @Violeta-19:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=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

registry=https://registry.npmjs.org
@violeta-19:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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